<body>
    <div class="forma">
        <h2>Podaci o profilu</h2>

        <form [formGroup]="osvjeziForm" (ngSubmit)="osvjezi()">
            <div>
                <label for="ime">Ime:</label>
                <input type="text" id="ime" formControlName="ime" [(ngModel)]="ime">
            </div>
            <div>
                <label for="prezime">Prezime:</label>
                <input type="text" id="prezime" formControlName="prezime" [(ngModel)]="prezime">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email" [(ngModel)]="email" [readonly]="readonlyForm">
            </div>
            <div>
                <label for="username">Korisničko ime:</label>
                <input type="text" id="username" formControlName="username" [(ngModel)]="username"
                    [readonly]="readonlyForm">
            </div>
            <button type="submit" [disabled]="osvjeziForm.invalid">Spremi</button>
        </form>
    </div>
</body>